{% extends 'layouts/base.twig' %}

{% block title %}Contact Us{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="assets/contact-us.css">
{% endblock %}

{% block content %}
<div class="container">
        <div class="banner"></div>
        <div class="content">
            <div class="row justify-content-center">
                <div class="col-2">
                    <img src="assets/images/about-us/ohm-profile.jpg" alt="ohm-profile" class="img-thumbnail">
                </div>
                <div class="col-7 align-self-center">
                    <div class="row mb-2">
                        <h4 class="mx-auto">ชื่อ: นายอโณชา กาญจนาถาวร</h4>
                        <h4 class="mx-auto">รหัสนักศึกษา: 57122201144</h4>
                    </div>
                    <div class="row mb-2">
                        <h4 class="mx-auto">วันเกิด: 13/09/2538</h4>
                        <h4 class="mx-auto">อายุ: 23 ปี</h4>
                    </div>
                    <div class="row mb-2">
                        <h4 class="mx-auto">เบอร์โทรศัพท์: 086-035-2518</h4>
                        <h4 class="mx-auto">E-mail: lnw_oom@hotmail.com</h4>
                    </div>
                    
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <ul class="list-none">
                    <h4>ประวัติการศึกษา</h4>
                    <li class="h5">ประถมศึกษา 1-6 โรงเรียนวัดอมรินทราราม</li>
                    <li class="h5">มัธยมศึกษา 1-3 โรงเรียนวัดบวรนิเวศ</li>
                    <li class="h5">มัธยมศึกษา 4-6 โรงเรียนมัธยมวัดนายโรง</li>
                    
                </ul>
                <ul class="list-none">
                    <h4>ปัจจุบัน</h4>
                    <li class="h5">กำลังศึกษา ปริญญาตรี มหาวิทยาลัยราชภัฐสวนสุนันทา</li>
                </ul>
            </div>
        </div>
</div>
{% endblock %}
