{% extends 'layouts/base.twig' %}

{% block title %}Exercise 3{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="assets/exercise-3.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="banner"></div>
    <div class="content text-center">
        <h1>Content zone</h1>
    </div>
</div>
{% endblock %}
