{% extends 'layouts/base.twig' %}

{% block title %}Home{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="../../css/home.css">
{% endblock %}

{% block content %}
<div class="banner">Hello Banner</div>
<div class="container">
    <div class="content text-center bg-dark">
        <h1>Content zone</h1>
        <div class="hello-world">
            Hellloooooo
        </div>
    </div>
</div>
{% endblock %}