{% extends 'layout/base.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid banner"></div>
<div class="container-fluid">
    <div class="content text-center bg-dark">
        <h1>Content zone</h1>
    </div>
</div>
{% endblock %}